/*

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

*/

/* Body 
------------------------------------- */
@font-face {
    font-family: "Hiragino Sans GB W3";
    src: url(https://fedor1ht.github.io/gallery/fonts/Hiragino Sans GB W3.otf);
}
@font-face {
    font-family: "Hiragino Sans GB W6";
    src: url(https://fedor1ht.github.io/gallery/fonts/Hiragino Sans GB W6.otf);
}
@font-face {
    font-family: "helvetica-normal";
    src: url(https://fedor1ht.github.io/gallery/fonts/helvetica-normal.ttf);
}

body {
	background: #ffffff;
    font-family: 'helvetica-normal', "Hiragino Sans GB W6", sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

html,body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  font-size: 100%;
}


/* Typography
------------------------------------- */

h1,h2,h3,h4 {
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h1 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 550;
}

h2 {
  color: #000;
  font-size: 1rem;
}

h3 {
  color: #444;
  font-size: 14px;
  letter-spacing: 4px;
}

h5 {
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  color: #666;
  font-size: 13px;
  line-height: 1.5rem;
/*  word-spacing: 1px;
*/  letter-spacing: 1px;
}

a {
  outline: none;
  text-decoration: none;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

hr { border-top: 1px solid #ddd; }

/*
img {
  width: 100%;
  max-width: 100%;
}
*/

/* preloader styles
/* ========================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #111112;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }



/* navigation styles
/* ========================================== */
#lang {
  padding-top: 18px;
}

.nav-container,
nav {
  overflow: visible;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

nav {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

nav a {
  color: #333333;
}


.navbar {
  position: relative;
  background: #fff;
  height: 70px;
  max-height: 70px;
  margin: 0;
  border-radius: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.stamp_container {
  position: absolute;
  left: 0; 
  right: 0; 
  top: 15px;
  margin-left: auto; 
  margin-right: auto; 
  width: 40px;
}

.stamp_img {
  height: 40px;
  width: 50px;
  border: none;
}

.brand {
  padding: 30px 0 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.brand a {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  text-decoration: none;
}

.navicon {  
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 6px 0 0;
}

.navicon_single {
   display: block;
   position:absolute;
   float: none;
   margin: 0 auto;
   left: 0;
   right: 0;
   width: 45px;
}


.collapse {
	margin-top: 30px;
}
.nav>li>a {
    padding: 10px 5px;
}

nav ul {
  display: inline-block;
}

nav ul.right {
  float: right;
  right: 0
}

.nav-menu a {
  font-weight: 300;
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.nav-menu li {
  list-style: none;
  padding: 6px;
}

.nav-text-light a {
  color: #ffffff;
}

.sticky .nav-text-light a {
  color: #555555;
}

.sticky nav.nav-inner .navbar {
  height: 70px;
  max-height: 70px;
  margin: 0;
  background: #ffffff;
}

.sticky nav.transparent .navbar {
  background: transparent;
}

@media all and (max-width: 990px) {
  .nav-text-light a {
    color: #555555;
  }
  .nav-inner {
    background: #ffffff;
  }
  .transparent {
    background: transparent;
  }
  .navicon {
    padding-right: 10px;
  }
  nav ul.right {
  float: left;
  }
}

a.icon {
  font-size: 32px;
  padding-right: 20px;
}

.intro-inner {  
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.close {
  font-family: inherit;
  font-size: 32px;
  font-weight: 300;
  text-shadow: none;
}
.close:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.circle {
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
  z-index: 99;
  padding: 4px 0 0;
}

.circle i {
  font-size: 36px;
  color: #111112;
}

.circle.dark {
  border-color: #292929;
}

.circle.dark:before {
  border-color: transparent transparent transparent #292929;
}

.circle.large {
  height: 120px;
  width: 120px;
  margin-top: -60px;
  margin-left: -60px;
}

.circle.large:before {
  margin-top: -18px;
  margin-left: -10px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 31.0px;
  border-color: transparent transparent transparent #ffffff;
}

.circle.large.dark:before {
  border-color: transparent transparent transparent #292929;
}

.circle.inline {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  z-index: 0;
}

@media all and (max-width: 767px) {
  .circle.large {
    width: 90px;
    height: 90px;
    margin-top: -45px;
  }
  .circle.large:before {
    margin-top: -14px;
    margin-left: -8px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25.0px;
    border-color: transparent transparent transparent #fff;
  }
}

.list-menu {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  opacity: 0;
  z-index: -1;
}

.list-menu.reveal-modal {
  opacity: 1;
  z-index: 999999;
  visibility: visible;
}

.list-menu .ion-close-round {
  font-size: 31px;
  position: absolute;
  top: 32px;
  right: 32px;
  color: #fff;
  cursor: pointer;
}

.section-title-underline-single {
	margin-top: 0;
}

.overlay {
    background: #3e3e3e;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
}


/* header section styles
/* ========================================== */
#header {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 100px;
}

#header .header-thumb {
  background: #ffffff;
  border: 10px solid #f9f9f9;
  border-radius: 5px;
  padding: 62px 20px 62px 20px;
}

/*.header-thumb {
  opacity: 0.8;
}*/

.header-one .header-thumb,
.header-two .header-thumb,
.header-three .header-thumb,
.header-four .header-thumb,
.header-five .header-thumb {
  padding: 32px 20px 32px 20px !important;
}

.header-one, .header-two,
.header-three, .header-four,
.header-five {
  height: 42vh !important;
  min-height: 420px;
  padding-top: 120px !important;
}

.header-one {
  background: url('../images/header-bg.jpg') no-repeat;
  height: 60vh;
  height: calc(100vh - 70px) !important;
  min-height: 520px;
  padding-top: 150px !important;
}
.header-two {
  background: url('../images/header-bg.jpg') no-repeat;
}
.header-three {
  background: url('../images/header-three-bg.jpg') no-repeat;
}
.header-four {
  background: url('../images/header-four-bg.jpg') no-repeat;
}
.header-five {
  background: url('../images/header-five-bg.jpg') no-repeat;
}

.bqyr {
    padding: 0;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

#about {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

/* Portfolio section styles
/* ========================================== */
#portfolio {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#portfolio img {
  width: 100%;
  border-radius: 5px;
}

.portfolio-thumb img {
  transition: all 0.5s ease 0s;
}

.portfolio-thumb img:hover {
  transform: scale(1.1);
}

#portfolio .portfolio-thumb {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 10px 10px;
} 

@media (max-width: 768px) {
 #portfolio .portfolio-thumb {
	 padding: 10px 60px;
 }
}

@media (max-width: 480px) {
 #portfolio .portfolio-thumb {
   padding: 10px 30px;
 }
}


/* Portfolio section styles
/* ========================================== */

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}


[aria-hidden="true"] { display: none; }
[aria-hidden="false"] { display: block; }

/* to the body element */

.wrapper {
	position: relative;
	width: 100%;
}

.noscroll { 
	overflow: hidden;
}

.portfolio-overlay {
	position: fixed;
	overflow-y: scroll;
	width: 100%;
	height: auto;
	top: 0; left: 0; bottom: 0; left: 0;
	z-index: 5000;
	padding-top: 50px;
	background-color: #000;
	transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
}

.portfolio-overlay .img-single {
	margin-bottom: 4rem;
} 

.portfolio-overlay .img-single img {
	border-radius: 5px;
} 

.portfolio-overlay .tag {
	background-color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	opacity: 1;
	border-radius: 5px;
} 

/*.portfolio-overlay .reveal-modal {
  opacity: 1;
  z-index: 999999;
  visibility: visible;
}*/

.portfolio-overlay .ion-close-round {
	font-size: 24px;
	position: absolute;
	top: 8px;
	right: 15px;
	color: #fff;
	cursor: pointer;
}

.portfolio-overlay p {
  margin-bottom: 0;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
}

.filter-wrapper li {
    display: inline-block;
    margin: 0px;
}

.filter-wrapper li a {
    color: #666;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 17px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:active {
  background: #111112 !important;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  background: #111112;
  color: #ffffff;
}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.fluid-img {
    width: 100%;
    display: block;
}

/* single project section styles
/* ========================================== */
#single-project {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#single-project .project-info {
  padding-bottom: 10px;
}

#single-project img {
  padding-top: 14px;
}


/* contact section styles
/* ========================================== */
#contact {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#contact #map-canvas  {
  border: none;
  width: 100%;
  height: 300px;
  margin-top: 40px;
}

#contact .contact-form {
  padding-top: 14px;
}

#contact .form-control {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: none;
  font-size: 13px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #f0f0f0;
}

#contact textarea {min-height: 100px;}

#contact input {height: 50px;}

#contact input[type='submit'] {
  background: #141414;
  color: #777;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

#contact input[type='submit']:hover {
  background: #444;
}

.contact-submit {
  width: 50%;
}

#contact .col-md-4 {
  background: #fff;
  padding: 62px 0px 32px 42px;
  position: relative;
  bottom: -50px;
}

#contact p {
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 980px) {
  #contact p {
  text-align: left;
}
}

/* footer section styles
/* ========================================== */
footer {
  background: #141414;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}


/* social icon */
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  border-radius: 100px;
  border: 1px solid transparent;
  color: #909090;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  margin-top: 14px;
  margin-right: 8px;
  margin-left: 8px;
  position: relative;
  top: 0px;
}
.social-icon li a:hover {
  background: #ffffff;
}

/* Responsive Mobile styles
/* ========================================== */
@media (max-width: 980px) {

  .intro-inner {top: 30%;}

  #contact .col-md-4 {
    padding: 62px 20px 42px 32px;
  }

  #contact .col-md-4 p {
    font-size: 12px;
  }

  #contact #map-canvas {
    margin-bottom: 60px;
  }
}


@media (max-width: 768px) {

  .brand {
    padding-left: 24px;
  }

  .header-one, .header-two,
  .header-three, .header-four,
  .header-five {
    min-height: 380px;
	padding-top: 80px !important;
  }

  #about .col-md-4,
  #single-project .col-md-3 {
    padding-bottom: 32px;
  }

}


@media (max-width: 700px) {

  h1 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 13px;
    letter-spacing: 3px;
  }

  .filter-wrapper {
    padding: 0px;
  }

  #contact {
    padding-bottom: 4rem;
  }

  #contact .col-md-4 {
    padding: 32px 20px 22px 62px;
  }
  .contact-submit {
	width: 70%;
  }

}

@media (max-width: 450px) {
  .intro-inner {top: 50%;}
}
